#blog-container {
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 50px white;
    /* background-color: lightgreen; */
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    background-color: lightgray;
    max-height: 100vh;
    
}
.blog-content {
    max-width:100%;
}
#blog-posts {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 20px;
    text-decoration: none;
}
#blog-posts:hover {
    transform: scale(1.1);
}

#blog-posts a {
    text-decoration: none;
}

#blog-posts p {
    display: inline;
    vertical-align: top;
    margin-right: 20px;
}
#blog-posts h1 {
    display: inline;
    vertical-align: top;
    color: black;
}


#blog-heading {
    margin-bottom: 25px;
    font-size: 45px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 0px white;
}

#blog-image {
    width: 100px;
}
